@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(247, 202, 201);
  background: linear-gradient(
    153deg,
    rgba(247, 202, 201, 1) 30%,
    rgba(179, 206, 229, 1) 60%
  );
}
.main-div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  animation: animate 15s linear infinite;
  bottom: -150px;
}
.pic1 {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.pic2 {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.pic3 {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.pic4 {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.pic5 {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.pic6 {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
.member1,
.member2,
.member3,
.member4,
.member5,
.member6,
.member7,
.member8,
.member9,
.member10,
.member11,
.member12,
.member13 {
  width: 80px;
  height: 200px;
  background-size: 80px 200px;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  margin-right: 5px;
}
.member1 {
  background-image: url("../src/image/member1.jpg");
}
.member2 {
  background-image: url("../src/image/member2.jpg");
}
.member3 {
  background-image: url("../src/image/member3.jpg");
}
.member4 {
  background-image: url("../src/image/member4.jpg");
}
.member5 {
  background-image: url("../src/image/member5.png");
}
.member6 {
  background-image: url("../src/image/member6.png");
}
.member7 {
  background-image: url("../src/image/member7.jpg");
}
.member8 {
  background-image: url("../src/image/member8.jpg");
}
.member9 {
  background-image: url("../src/image/member9.jpg");
}
.member10 {
  background-image: url("../src/image/member10.png");
}
.member11 {
  background-image: url("../src/image/member11.jpg");
}
.member12 {
  background-image: url("../src/image/member12.jpg");
}
.member13 {
  background-image: url("../src/image/member13.jpg");
}
.letter_pictures {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: rows;
}
.H,
.A,
.P,
.P2,
.Y,
.B,
.I,
.R,
.T,
.H2,
.D,
.A2,
.Y2 {
  animation: letter_h 5s linear;
  animation-duration: 3s;
  width: 80px;
  background-color: #554c8d;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
}
@keyframes letter_h {
  0% {
    height: 0px;
    visibility: hidden;
  }
  100% {
    height: 200px;
    background-color: #554c8d;
  }
}
.h,
.a,
.p,
.p2,
.y,
.b,
.i,
.r,
.t,
.h2,
.d,
.a2,
.y2 {
  font-family: "Anton", sans-serif;
  color: azure;
  animation: h 5s linear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes h {
  0% {
    font-size: 0px;
    opacity: 0;
  }
  100% {
    font-size: 100px;
    opacity: 1;
  }
}
.H,
.h {
  animation-delay: 3s;
}
.A,
.a {
  animation-delay: 6s;
}
.P,
.p {
  animation-delay: 9s;
}
.P2,
.p2 {
  animation-delay: 12s;
}
.Y,
.y {
  animation-delay: 15s;
}
.B,
.b {
  animation-delay: 18s;
}
.I,
.i {
  animation-delay: 21s;
}
.R,
.r {
  animation-delay: 24s;
}
.T,
.t {
  animation-delay: 27s;
}
.H2,
.h2 {
  animation-delay: 30s;
}
.D,
.d {
  animation-delay: 33s;
}
.A2,
.a2 {
  animation-delay: 36s;
}
.Y2,
.y2 {
  animation-delay: 39s;
}
.letter_pictures {
  margin-bottom: 50px;
}
.name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
.name1,
.name2,
.name3 {
  margin-right: 20px;
  font-family: "Lobster", cursive;
  animation: name 10s linear;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  color: rgb(242, 71, 71);
  font-size: 0px;
}
@keyframes name {
  0% {
    opacity: 0;
    transform: scale(5);
    font-size: 0px;
  }
  100% {
    opacity: 1;
    transform: scale(1);
    font-size: 100px;
  }
}
.name1 {
  animation-delay: 42s;
}
.name2 {
  animation-delay: 45s;
}
.name3 {
  animation-delay: 48s;
}
.open-button {
  z-index: 1;
  animation: open 5s linear;
  animation-fill-mode: forwards;
  animation-duration: 5s;
  animation-delay: 52s;
  opacity: 0;
  margin-top: 20px;
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
  outline: none;
}
open-button:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.open-button:active {
  position: relative;
  top: 1px;
}
@keyframes open {
  0% {
    opacity: 0;
    transform: translate3d(0, 150px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.card1 {
  width: 20rem;
  height: 30rem;
  z-index: 1;
}
.c {
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  border-radius: 5px;
  position: absolute;
  width: 20rem;
  height: 30rem;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background: white;
}

.front {
  background: black;
}
.all_card {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}