* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(247, 202, 201);
  background: linear-gradient(
    153deg,
    rgba(247, 202, 201, 1) 30%,
    rgba(179, 206, 229, 1) 60%
  );
}
.main-div {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6 {
  position: absolute;
  display: block;
  list-style: none;
  width: 25px;
  height: 25px;
  animation: animate 15s linear infinite;
  bottom: -150px;
}
.pic1 {
  left: 86%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.pic2 {
  left: 12%;
  width: 30px;
  height: 30px;
  animation-delay: 1.5s;
  animation-duration: 10s;
}
.pic3 {
  left: 70%;
  width: 100px;
  height: 100px;
  animation-delay: 5.5s;
}
.pic4 {
  left: 42%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 15s;
}
.pic5 {
  left: 65%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
}
.pic6 {
  left: 15%;
  width: 110px;
  height: 110px;
  animation-delay: 3.5s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
.member1 {
  background-image: url("../src/image/member1.jpg");
  width: 80px;
  height: 300px;
  background-size: 80px 300px;
  background-position: center;
  background-repeat: no-repeat;
}
