* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: rgb(247, 202, 201);
  background: linear-gradient(
    153deg,
    rgba(247, 202, 201, 1) 30%,
    rgba(179, 206, 229, 1) 60%
  );
}
